NEXT_PUBLIC_SITE_URL=http://localhost:3001
VENDURE_SHOP_API_URL=http://localhost:3000/shop-api
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
